/* .background {
  background: linear-gradient(
      to top,
      rgba(217, 175, 217, 0.7) 0%,
      rgba(151, 217, 225, 0.7) 100%
    ),
    url(../../../assets/img/forest.jpg);
  
  width: 1400px;
  height: 1500px;
} */
