@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Sawarabi Mincho' sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-img {
  background-image: url("../src/assets/img/forest.jpg");
  background-blend-mode: lighten;
  background-position: center center;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0.6);
  background-size: cover;
}